.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo {
  position: relative;
  padding: 15% 30px 5%;
}

@media (prefers-color-scheme: dark) {
  .logo {
    transition: all 2s ease;
  }

  .logo:hover{
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}